@using FilmsWebCatalog.Data.Models;
@using static FilmsWebCatalog.Common.AdminUser;
@model List<Film>
@{

}
<h2 class=" text-center mb-5">List of Films</h2>
<div class="row mb-5">
    <div class="col">
        @if (User.IsInRole(AdminRoleName))
        {
        <a class="btn btn-primary" asp-area="" asp-controller="Film" asp-action="Create">New Film</a>
        }
    </div>
    <div class="col">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Date of Releasing</th>
            <th>Rating</th>
            <th>Genre</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Id</td>
                <td>@film.Title</td>
                <td>@film.DateOfReleasing</td>
                <td>@film.Rating</td>
                <td>@film.Genre.Name</td>
                <td>@film.Director.Name</td>
                <td style=" white-space:nowrap">
                    @if (User.IsInRole(AdminRoleName))
                    {
                        <a class="btn btn-primary btn-sm" asp-controller="Film" asp-action="Edit"
                        asp-route-id="@film.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Film" asp-action="Delete"
                        asp-route-id="@film.Id" onclick="return confirm('Are you sure?')">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

