@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Films Catalog</h1>
    <div class="row">
        <div class="row-md-4">
            <img src="@Url.Content("~/uploads/" + "Avengers Infinity War.jfif")" width="200" height="300" alt="Image Not Available" class="img-fluid" />
            <img src="@Url.Content("~/uploads/" + "Anyone But You.jfif")" width="200" height="300" alt="Image Not Available" class="img-fluid" />
            <img src="@Url.Content("~/uploads/" + "Oppenheimer.jfif")" width="200" height="300" alt="Image Not Available" class="img-fluid" />
            <img src="@Url.Content("~/uploads/" + "Sherlok Holmes.jfif")" width="200" height="300" alt="Image Not Available" class="img-fluid" />
            <img src="@Url.Content("~/uploads/" + "Madame Web.jfif")" width="200" height="300" alt="Image Not Available" class="img-fluid" />
        </div>
    </div>
</div>
