@using FilmsWebCatalog.Data.Models;
@model List<FilmActor>
@{

}
<h2 class=" text-center mb-5">List of FilmsActors</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-area="" asp-controller="FilmActor" asp-action="Create">New FilmActor</a>
    </div>
    <div class="col">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Film</th>
            <th>Actor FirstName</th>
            <th>Actor LastName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Film.Title</td>
                <td>@item.Actor.FirstName</td>
                <td>@item.Actor.LastName</td>
                <td style=" white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="FilmActor" asp-action="Edit"
                       asp-route-id="@item.FilmId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="FilmActor" asp-action="Delete"
                       asp-route-id="@item.FilmId" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


