@using FilmsWebCatalog.Data.Models;
@using static FilmsWebCatalog.Common.AdminUser;
@model List<Actor> 
@{

}
<h2 class=" text-center mb-5">List of @Model.Count Actors</h2>
<div class="row mb-5">
    <div class="col">
        @if (User.IsInRole(AdminRoleName))
        {
        <a class="btn btn-primary" asp-area="" asp-controller="Actor" asp-action="Create">New Actor</a>
        }
    </div>
    <div class="col">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Years</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var actor in Model)
        {
            <tr>
                <td>@actor.Id</td>
                <td>@actor.FirstName</td>
                <td>@actor.LastName</td>
                <td>@actor.Years</td>
                <td>@actor.DateOfBirth</td>
                <td style=" white-space:nowrap">
                    @if (User.IsInRole(AdminRoleName))
                    {
                    <a class="btn btn-primary btn-sm" asp-controller="Actor" asp-action="Edit"
                       asp-route-id="@actor.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Actor" asp-action="Delete"
                       asp-route-id="@actor.Id" onclick="return confirm('Are you sure?')">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

